<mat-card class="checkoutContainer">
  <mat-stepper linear #stepper selectedIndex="2">
    <!-- remove selectedIndex later -->
    <mat-step [stepControl]="addressForm" label="Shipping Address" state="address">
      <div class="form">
        <form [formGroup]="addressForm">
          <div>
            <mat-form-field class="spaceRight">
              <input matInput formControlName="firstName" placeholder="First Name">
              <mat-error *ngIf="addressForm.controls['firstName'].errors?.['required']">
                First name is required...
              </mat-error>
              <mat-error *ngIf="addressForm.controls['firstName'].errors?.['invalidName']">
                Invalid first name...
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="lastName" placeholder="Last Name">
              <mat-error *ngIf="addressForm.controls['lastName'].errors?.['required']">
                Last name is required...
              </mat-error>
              <mat-error *ngIf="addressForm.controls['lastName'].errors?.['invalidName']">
                Invalid last name...
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="fillRow">
              <input matInput formControlName="firstAddress" placeholder="Address 1">
              <mat-error *ngIf="addressForm.controls['firstAddress'].errors?.['required']">
                Address is required...
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="fillRow">
              <input matInput formControlName="secondAddress" placeholder="Address 2">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="spaceRight">
              <input matInput formControlName="city" placeholder="City">
              <mat-error *ngIf="addressForm.controls['city'].errors?.['required']">
                City name is required...
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="region" placeholder="State / Province / Region">
              <mat-error *ngIf="addressForm.controls['region'].errors?.['required']">
                Region is required...
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="spaceRight">
              <input matInput formControlName="zipCode" placeholder="Zip Code">
              <mat-error *ngIf="addressForm.controls['zipCode'].errors?.['required']">
                Zip code is required...
              </mat-error>
              <mat-error *ngIf="addressForm.controls['zipCode'].errors?.['invalidZipCode']">
                Invalid zip code...
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="Phone">
              <mat-error *ngIf="addressForm.controls['phone'].errors?.['required']">
                Phone is required...
              </mat-error>
              <mat-error *ngIf="addressForm.controls['phone'].errors?.['invalidPhoneNumber']">
                Invalid phone number...
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="fillRow">
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="addressForm.controls['email'].errors?.['required']">
              Email is required...
            </mat-error>
            <mat-error *ngIf="addressForm.controls['email'].errors?.['invalidEmail']">
              Invalid email...
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="nextBtn">
        <button mat-raised-button matStepperNext color="primary" [disabled]="!addressForm.valid">Next</button>
      </div>
    </mat-step>
    <mat-step label="Billing Information" state="billing">
      <div class="form">
        <form [formGroup]="billingForm">
          <div>
            <mat-form-field class="fillRow">
              <input matInput formControlName="cardNumber" placeholder="Card Number">
              <mat-error *ngIf="billingForm.controls['cardNumber'].errors?.['required']">
                Card number is required...
              </mat-error>
              <mat-error *ngIf="billingForm.controls['cardNumber'].errors?.['invalidCreditCard']">
                Invalid credit card...
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="fillRow">
              <input matInput formControlName="nameOnCard" placeholder="Name on Card">
              <mat-error *ngIf="billingForm.controls['nameOnCard'].errors?.['required']">
                Name on card is required...
              </mat-error>
              <mat-error *ngIf="billingForm.controls['nameOnCard'].errors?.['invalidNameOnCard']">
                Invalid name...
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="spaceRight">
              <mat-label>Expiration Date</mat-label>
              <input matInput [matDatepicker]="dp" formControlName="expirationDate" placeholder="">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                panelClass="example-month-picker">
              </mat-datepicker>
              <mat-error *ngIf="billingForm.controls['expirationDate'].errors?.['required']">
                Expiration date is required...
              </mat-error>
              <mat-error *ngIf="billingForm.controls['expirationDate'].errors?.['invalidExpirationDate']">
                Invalid expiration date...
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="securityCode" placeholder="Security Code" maxlength="4">
              <mat-error *ngIf="billingForm.controls['securityCode'].errors?.['required']">
                Security code is required...
              </mat-error>
              <mat-error *ngIf="billingForm.controls['securityCode'].errors?.['invalidSecurityCode']">
                Invalid security code...
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="nextBtn">
        <button mat-raised-button matStepperNext color="primary" [disabled]="!billingForm.valid">Next</button>
      </div>
    </mat-step>
    <mat-step label="Summary" state="summary">
      <div class="mat-elevation-z5 tableContainer">
        <table mat-table *ngIf="user && user.products" [dataSource]="products">
          <ng-container matColumnDef="name" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
          </ng-container>

          <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef> Picture </th>
            <td mat-cell *matCellDef="let element"><img src="{{ element.picture }}"></td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{ element.price }} ₪ </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element">
              {{ element.amount }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="">
              <b *ngIf="products">
                {{ getTotalCost() }} ₪
              </b>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
      <div fxLayout="row wrap fill" fxLayout.xs="column wrap" fxLayoutAlign="space-between stretch"
        class="summaryContainer">
        <mat-card class="mat-elevation-z5">
          <mat-card-title>Address Information</mat-card-title>
          <mat-card-content>
            <div>
              <div class="info">
                <b>City:</b> {{ addressForm.controls['city'].value }} <br>
                <b>Address 1:</b> {{ addressForm.controls['firstAddress'].value }} <br>
                <b>Address 2:</b> {{ addressForm.controls['secondAddress'].value }} <br>
                <b>Zip Code:</b> {{ addressForm.controls['zipCode'].value }} <br>
                <b>Phone:</b> {{ addressForm.controls['phone'].value }} <br>
                <b>Email:</b> {{ addressForm.controls['email'].value }} <br>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z5">
          <mat-card-title>Billing Information</mat-card-title>
          <mat-card-content>
            <div class="billingSummary">
              <div>
                <b class="budgeRight">Card Number:</b>
                <span class="creditCard">{{ billingForm.controls['cardNumber'].value }}</span>
              </div>
              <div class="nameOnCard">
                <b class="budgeRight">Name on card:</b>
                {{ addressForm.controls['firstName'].value }}
                {{ addressForm.controls['lastName'].value }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="nextBtn">
        <button mat-raised-button matStepperNext color="primary" (click)="sendOrder()">Place Your Order</button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="address">
      <mat-icon>location_on</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="billing">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="summary">
      <mat-icon>description</mat-icon>
    </ng-template>
  </mat-stepper>
</mat-card>
