.createAd {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ad {
    width: 15vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vw;
}

.ad > mat-card-title {
    height: 10vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ad > mat-card-title::-webkit-scrollbar {
    display: none;
}

.ad > mat-card-actions {
    margin: 0 auto;
}

.deleteAd {
    color: red;
}

.adProducts > mat-list {
    height: 20vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.adProducts > mat-list::-webkit-scrollbar {
    display: none;
}

.productsInAd img {
    height: 30px;
    margin-left: 30px;
}

.discountType {
    text-align: center;
    margin-top: 2vh;
}

.dates {
    text-align: center;
    margin-top: 2vh;
}

.filter {
    text-align: center;
    width: 30vw;
    margin: 0 auto;
}

.filter > mat-card-title {
    margin-bottom: 2vh;
}

.productsFilter {
    width: 30vw;
}

mat-option {
    text-align: center;
}

.discountFilter > span {
    font-size: 20px;
}

.discountFilter > mat-slider {
    width: 70%;
}

.searchWordFilter > mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: right;
}

.nothingFound {
    text-align: center;
    margin-top: 10vh;
}

.addManufacturersWarning {
    margin-top: 1%;
    color: red;
}

.productFilterImg {
    height: 30px;
}