<div class="createAd">
  <button mat-raised-button color="primary" (click)="openCreateDialog()">Create Ad</button>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly stretch">
  <mat-card *ngFor="let ad of ads" class="ad">
    <mat-card-title>
      {{ ad.info }}
    </mat-card-title>
    <div class="adProducts">
      <mat-list>
        <mat-list-item *ngFor="let product of ad.products">
          <img src="{{ product.picture }}">
          {{ product.name }}
        </mat-list-item>
      </mat-list>
    </div>
    <div class="dates">
      <h3>From <b>{{ dateToString(ad.startDate) }}</b> to <b>{{ dateToString(ad.endDate) }}</b></h3>
    </div>
    <mat-card-actions>
      <button mat-icon-button (click)="openDeleteDialog(ad)">
        <mat-icon class="deleteAd spaceRight">delete_forever</mat-icon>
      </button>
      <button mat-icon-button (click)="openUpdateDialog(ad)">
        <mat-icon class="spaceRight">edit</mat-icon>
      </button>
      <mat-slide-toggle class="spaceRight" [checked]="ad.active" (change)="changeAdState(ad)"></mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
</div>
