<div class="createAd" *ngIf="isAdmin()">
  <button mat-raised-button color="primary" [disabled]="products?.length == 0" (click)="openCreateDialog()">Create Ad</button>
  <div *ngIf="products?.length == 0" class="addManufacturersWarning">
    No products found, please add products first!
  </div>
</div>

<mat-card class="filter" *ngIf="adsClone && adsClone.length > 0">
    <mat-card-title>
        Filter ads
    </mat-card-title>
  <mat-form-field appearance="fill" class="productsFilter">
    <mat-label>Products</mat-label>
    <mat-select multiple [(ngModel)]="selectedProductsFilterValue" (selectionChange)="filter()">
      <mat-option *ngFor="let product of products" [value]="product">
        {{ product.name }}
        <img class="productFilterImg" src="{{ product.picture }}">
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="discountFilter">
    <span>% Discount >= </span>
    <mat-slider [(ngModel)]="discountFilterValue" [value]="discountFilterValue" thumbLabel [displayWith]="formatLabel"
    min="1" max="99" (change)="filter()"></mat-slider>
  </div>
  <div class="searchWordFilter">
    <mat-form-field appearance="fill">
        <mat-label>Search words</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let searchWord of searchWordsFilterValue" (removed)="remove(searchWord)">
            {{searchWord}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New search word..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
  </div>
</mat-card>

<div *ngIf="!adsClone || adsClone.length == 0" class="nothingFound">
  <img src="https://i.imgur.com/La1HfmE.png">
  <h1>Nothing found...</h1>
</div>

<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center stretch">
  <mat-card *ngFor="let ad of ads" class="ad">
    <mat-card-title>
      {{ ad.info }}
    </mat-card-title>
    <div class="adProducts">
      <mat-list class="productsInAd">
        <mat-list-item *ngFor="let product of ad.products" class="productInAd">
          {{ product.name }}
          <img src="{{ product.picture }}">
        </mat-list-item>
      </mat-list>
    </div>
    <div class="discountType">
        <h2>{{ad.discountType}}% Discount</h2>
    </div>
    <div class="dates">
      <h3>From <b>{{ dateToString(ad.startDate) }}</b> to <b>{{ dateToString(ad.endDate) }}</b></h3>
    </div>
    <mat-card-actions *ngIf="isAdmin()">
      <button mat-icon-button (click)="openDeleteDialog(ad)">
        <mat-icon class="deleteAd spaceRight">delete_forever</mat-icon>
      </button>
      <button mat-icon-button (click)="openUpdateDialog(ad)">
        <mat-icon class="spaceRight">edit</mat-icon>
      </button>
      <mat-slide-toggle class="spaceRight" [checked]="ad.active" [disabled]="ad.products.length == 0" (change)="changeAdState(ad)"></mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
</div>
