.addProductBtn {
    margin-top: 1%;
    text-align: center;
}

#topBar {
    margin-top: 1%;
    text-align: center;
}

#topBar button {
    margin-bottom: 1%;
}

#topBar mat-form-field {
    width: 20%;
}

.nothingFound {
    text-align: center;
    margin-top: 10vh;
}

img {
    width: inherit;
    height: 200px;
}

.cardTitle {
    margin-bottom: 1rem;
    text-align: center;
}

#logo {
    margin-bottom: 1rem;
    text-align: center;
}

.productsDisplay {
    width: 15vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vw;
}

.productsDisplay mat-card-actions {
    margin: 0 auto;
}

.productsDisplay mat-card-actions button {
    margin: 0.3vw;
}

.productsDisplay mat-card-header {
    flex-shrink: 0;
}
  
.productsDisplay mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.filterContainer {
    width: fit-content;
    margin: 0 auto;
}

.filterContainer mat-form-field {
    width: 51% !important;
}

.priceGreaterEqualLabel {
    font-size: 20px;
    vertical-align:middle;
}

.filterContainer mat-card-title {
    margin-bottom: 5%;
}

.addManufacturersWarning {
    margin-top: 1%;
    color: red;
}

.mat-badge-content {
    width: auto;
    display: grid;
    min-width: 32px;
    min-height: 28px;
    text-align: center;
    align-items: center;
    padding: 5px 3px;
}

.discountBadge {
    margin-left: 100%;
}

.priceBeforeDiscount {
    text-decoration: line-through;
}

.priceAfterDiscount {
    color: green;
}