.addProductBtn {
    margin-top: 1%;
    text-align: center;
}

#topBar {
    margin-top: 1%;
    text-align: center;
}

#topBar button {
    margin-bottom: 1%;
}

#topBar mat-form-field {
    width: 20%;
}

.nothingFound {
    text-align: center;
    margin-top: 10vh;
}

img {
    width: inherit;
    height: 200px;
}

.cardTitle {
    margin-bottom: 1rem;
    text-align: center;
}

#logo {
    margin-bottom: 1rem;
    text-align: center;
}

.productsDisplay {
    width: 15vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vw;
}

.productsDisplay mat-card-actions {
    margin: auto;
}

.productsDisplay mat-card-actions button {
    margin: 0 auto;
    margin-left: 1vw;
}

.filterContainer {
    width: fit-content;
    margin: 0 auto;
}

.filterContainer mat-form-field {
    width: 51% !important;
}

.priceGreaterEqualLabel {
    font-size: 20px;
    vertical-align:middle;
}

.filterContainer mat-card-title {
    margin-bottom: 5%;
}

.addManufacturersWarning {
    margin-top: 1%;
    color: red;
}