<div *ngIf="isAdmin()" class="addProductBtn">
  <button mat-raised-button color="primary" [disabled]="manufacturers?.length == 0" (click)="openCreateDialog()">Add Product</button>
  <div *ngIf="manufacturers?.length == 0" class="addManufacturersWarning">
    No manufacturers found, please add manufacturers first!
  </div>
</div>
<div id="topBar" *ngIf="productsClone && productsClone.length > 0">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchField" (input)="search()">
  </mat-form-field>
  <mat-card class="filterContainer">
    <mat-card-title>Filters</mat-card-title>
    <mat-form-field>
      <mat-label>Manufacturers Filter</mat-label>
      <mat-select multiple [(ngModel)]="manufacturerFilterValue" (selectionChange)="search()">
        <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.name">
          {{ manufacturer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Production Country Filter</mat-label>
      <mat-select multiple [(ngModel)]="productionCountryFilterValue" (selectionChange)="search()">
        <mat-option *ngFor="let productionCountry of productionCountries" [value]="productionCountry">
          {{ productionCountry }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <div class="priceGreaterEqualLabel">Price greater than</div>
      <mat-label class="priceGreaterEqualLabel">
        <mat-icon>attach_money</mat-icon>
      </mat-label>
      <mat-slider [(ngModel)]="priceFilterValue" [value]="priceFilterValue" thumbLabel [displayWith]="formatLabel"
        min="{{ minProductPrice }}" max="{{ maxProductPrice }}" (change)="search()"></mat-slider>
      <span *ngIf="priceFilterValue">{{ priceFilterValue }} ₪</span>
    </div>
    <div>
      <button mat-raised-button color="primary" *ngIf="isLoggedIn()" (click)="resetFilters()">Reset Filters</button>
    </div>
  </mat-card>
</div>

<div *ngIf="!productsClone || productsClone.length == 0" class="nothingFound">
  <img src="https://i.imgur.com/La1HfmE.png">
  <h1>Nothing found...</h1>
</div>

<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center">
  <mat-card *ngFor="let product of products" class="productsDisplay">
    <div class="cardTitle">
      <mat-card-title>
        <div>
        {{ product.name }}
        <span *ngIf="activeAds && isProductInActiveAd(product)" class="discountBadge">
          <span matBadge="{{getAdDiscountForProduct(product)}}% off" matBadgePosition="before" matBadgeColor="accent"></span>
        </span>
        </div>
      </mat-card-title>
    </div>
    <div id="logo">
      <img src="{{ product.picture }}" width="100px">
    </div>
    <mat-card-content>
      <p><b>Code</b>: {{ product.code }}</p>
      <p><b>Price</b>: {{ product.price }} ₪</p>
      <p><b>Weight</b>: {{ product.weight }}</p>
      <p><b>Weight Unit</b>: {{ product.weightUnit }}</p>
      <p><b>Ingredients</b>: {{ product.ingredients }}</p>
      <p><b>ProductionCountry</b>: {{ product.productionCountry }}</p>
      <p><b>Manufacturer</b>: {{ product.manufacturer.name }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" *ngIf="isLoggedIn()" (click)="addProductToUser(product)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="openUpdateDialog(product)" *ngIf="isAdmin()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="openDeleteDialog(product)" *ngIf="isAdmin()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
