mat-toolbar {
    background-color: rgb(54, 133, 236);
    color: white;
}

mat-toolbar div {
    margin: 0 auto;
    font-size: larger;
}

.actionBtns {
    margin-left: 1vw;
}

#siteTitle {
    position: absolute;
    left: 46vw;
    font-size: 3rem;
}

#siteTitle a:hover {
    cursor:pointer;
}

#cart {
    position: absolute;
    right: 1vw;
}

#cart:hover {
    background-color: rgb(37, 96, 174);
}

#cart span {
    display: inline-block;
    left: -0.6vw;
    top: -1vh;
}

.mat-badge-content {
    background-color: white;
    color: black
}