#updateAdForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 20vw;
}

mat-form-field {
    width: 100%;
}

.submitBtn {
    margin-top: 2vh;
}

.title {
    text-align: center;
}