<div class="title">
  <h1>Create Ad Form</h1>
</div>
<form [formGroup]="createAdForm" id="createAdForm" (ngSubmit)="onAdSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Ad Info</mat-label>
    <textarea matInput formControlName="info"></textarea>
    <mat-error *ngIf="createAdForm.controls['info'].errors?.['required']">
      Ad info is required...
    </mat-error>
  </mat-form-field>
  <div>
    <h1>Products</h1>
  </div>
  <button type='button' mat-raised-button color="primary" (click)="unselectAll()">Unselect all</button>
  <mat-selection-list [(ngModel)]="selectedProducts" (ngModelChange)="setFormProductsControl()" [ngModelOptions]="{standalone: true}">
    <mat-list-option *ngFor="let product of products" [value]="product">
      <img class="selectProductImg" src="{{ product.picture }}">
      {{ product.name }}
    </mat-list-option>
  </mat-selection-list>
  <h2>Selected Products (scroll down):</h2>
  <div class="selectedProductsContainer">
    <div *ngFor="let selectedProduct of selectedProducts">
      {{ selectedProduct.name }}
      <mat-divider></mat-divider>
    </div>
  </div>
  <mat-form-field class="discountTypeContainer" appearance="fill">
    <mat-label>Discount Type</mat-label>
    <mat-select matInput formControlName="discountType">
      <mat-option *ngFor="let discount of discountTypes" [value]="discount">{{ discount }}%</mat-option>
    </mat-select>
    <mat-error *ngIf="createAdForm.controls['discountType'].errors?.['required']">
      Discount type is required...
    </mat-error>
  </mat-form-field>
  <div class="datesContainer">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" #startDate formControlName="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1" #startDate></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="createAdForm.controls['startDate'].errors?.['required']">
        Start date is required...
      </mat-error>
      <mat-error *ngIf="createAdForm.controls['startDate'].errors?.['invalidDate']">
        Invalid start date...
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker2" (dateChange)="isEndDateValid()" [disabled]="!startDate.value"
        formControlName="endDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="createAdForm.controls['endDate'].errors?.['required']">
        End date is required...
      </mat-error>
      <mat-error *ngIf="createAdForm.controls['endDate'].errors?.['invalidEndDate']">
        End date must be after start date...
      </mat-error>
    </mat-form-field>
  </div>
  <mat-checkbox class="activateAdCheckbox" formControlName="active">Activate ad</mat-checkbox>
  <button mat-raised-button class="submitBtn" color="primary" type="submit" (click)="closeDialog()"
    [disabled]="createAdForm.invalid">Create Ad</button>
</form>
